<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>
<div class="message-content">
    <p>Hello, {{name}}</p>
    <p>A request have made to change your password</p>
    <p>If you made this request, please, click on the following link</p>
    <p>
        <a href="{{link}}">Reset Password</a>
    </p>
    <p>If you didn't make this request, please, ignore this e-mail.!</p>
    <p>
        Thank you!<br />
        <strong>Barbershop Team</strong>
    </p>
</div>